# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
*.env

# Django stuff
db.sqlite3
/media/
staticfiles/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Test coverage reports
htmlcov/
.coverage
.tox/
