# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual env
venv/
.venv/

# Django stuff
staticfiles/
media/

# Environment variables
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store

#Migrations
migrations/